:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}
/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';  /* Project id 3859485 */
  src: url('//at.alicdn.com/t/c/font_3859485_odt0i7ynj1o.woff2?t=1673488337391') format('woff2'),
       url('//at.alicdn.com/t/c/font_3859485_odt0i7ynj1o.woff?t=1673488337391') format('woff'),
       url('//at.alicdn.com/t/c/font_3859485_odt0i7ynj1o.ttf?t=1673488337391') format('truetype');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-family: "SF Pro Text","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: var(--greyLight-1);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}
#list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 2rem 4rem;
}

.card-item {
  width: 0;
  flex: 0 0 31%;
  height: 23rem;
  border-radius: 2rem;
  box-shadow: 0.8rem 0.8rem 1.4rem var(--greyLight-2), -0.2rem -0.2rem 1.8rem var(--white);
  padding: 2rem;
  margin-top: 2rem;
  box-sizing: border-box;
}
.card-item .img-wrap{
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 12rem;
  border-radius: 1rem;
  position: relative;
}
.card-item .img-wrap::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 1rem;
  pointer-events: none;
}
.card-item .img-wrap:empty::before{
  content: '暂无图片';
  flex: 1;
  text-align: center;
  color: var(--greyDark);
}
.card-item .img-wrap img{
  flex: 1;
  width: 0;
}
.card-item .img-wrap .cover{
  height: 100%;
  object-fit: cover;
  object-position: center top;
}
.card-item .img-wrap .type{
  width: 7rem;
  height: 7rem;
  position: absolute;
  background: var(--greyLight-1);
  left: -4rem;
  top: -4rem;
  z-index: 1;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  transform: rotate(45deg);
    
}
.card-item .img-wrap .type::before{
  transform: rotate(-45deg) translateY(-75%);
  position: absolute;
  right: -.65rem;
  top: 50%;
  font-family: 'iconfont';
  font-size: 2rem;
}
.card-item .img-wrap .type-1::before{
  content: '\e616';
}
.card-item .img-wrap .type-2::before{
  content: '\e614';
  color: #e04c28;
}
.card-item .img-wrap .type-3::before{
  content: '\e618';
  color: #0081ff;
}
.card-item .img-wrap .type-4::before{
  content: '\e617';
  color:#835fa5;
}
.card-item .img-wrap .type-5::before{
  content: '\e61a';
  color: #00c773;
}
.card-item .img-wrap .type-6::before{
  content: '\e619';
  color: #1f91d3;
}
.card-item .title{
  font-weight: 300;
  color: #5246c3;
  margin-top: .8rem;
  display: flex;
  align-items: center;
}
.card-item .title .logo{
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  object-fit: contain;
  margin-right: .5rem;
}
.card-item .title .name{
  flex: 1;
}
.card-item .title .date{
  font-size: 14px;
  color: var(--greyDark);
  /* flex: 1; */
  text-align: right;
}
.card-item .desc{
  font-size: 12px;
  color: var(--greyDark);
  margin-top: .3rem;
  height: 2rem;
  text-overflow: -o-ellipsis-lastline;
	overflow: hidden;			
	text-overflow: ellipsis;
	display: -webkit-box;			
	-webkit-line-clamp: 2;			
	line-clamp: 2;					
	-webkit-box-orient: vertical;
}
.card-item .tag-wrap{
  display: flex;
  list-style: none;
  margin-top: 1rem;
}
.card-item .tag-wrap li{
  font-size: 12px;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  color: var(--greyDark);
  padding: .4rem .6rem;
  margin-right: .5rem;
}
.empty-item{
  width: 0;
  flex: 0 0 31%;
}

@media (max-width: 1200px) {
  .card-item ,.empty-item{
    height: 23rem;
    flex: 0 0 48%;
  }
  .empty-item{
    display: none;
  }
}

@media (max-width: 750px) {
  #list{
    padding: 1.5rem 1.5rem 3rem;
  }
  .card-item {
    height: 19rem;
    flex: 0 0 100%;
    padding: 1.5rem;
    margin-top: 1.5rem;
  }
  .card-item .img-wrap{
    height: 9rem;
  }
  .empty-item{
    display: none;
  }
}